{{#partial "styles"}}
    <link rel="stylesheet" href="/css/index.css">
{{/partial}}

{{#partial "content"}}
<section class="container bunner">
    <div class="">
        <h1>
            Wildlife <br> Tracking
        </h1>

        <p>Lorem ipsum is a good text edito make people one two<br> three come togeza to do good things</p>
        <a href="/animal-new" type="button" class="btn btn-home rounded-pill">Add animal</a>
    </div>
</section>
{{/partial}}
{{>layout.hbs}}