{{#partial "styles"}}
    <link rel="stylesheet" href="/css/index.css">
{{/partial}}

{{#partial "content"}}
<section class="home">
    <div class="home">
        <img src="../../images/home.png">
        <p>
            Wildlife <br> Tracking
        </p>

    </div>
</section>
{{/partial}}
{{>layout.hbs}}